body {
    font-size: 20px;
    margin: 0 auto;
    max-width: 500px;
    position: absolute;
    width: 70%;
    padding: 30px;
    font-weight: 700;
}

.ordered_list {
    list-style-type: lower-alpha;
    background: rgb(209, 112, 145);
    font-size: 25px;
    height: 35vh;
    margin: 25px 5px;
    padding-top: 15px;
    line-height: 1.4;
    border-style: groove;
    border-radius: 5px;
}

#ordered_list_id {
    list-style-type: upper-alpha;
    background: rgb(223, 167, 122);
    font-size: 18px;
    height: 30vh;
    margin: 20px 0;
    padding-top: 10px;
    line-height: 1.8;
    border-style: none;
    border-radius: 8px;
}

.olist_item {
    color: #4a8314;
    font-weight: 600;
}

#olist_item1 {
    color: rgb(83, 5, 5);
}

#olist_item2 {
    color: #42021b;
}

#olist_item3 {
    color: #01310f;
}

#olist_item4 {
    color: azure;
}

#olist_item5 {
    color: #410d00;
}


.unordered_list {
    list-style-type: circle;
    background: #4bbe41;
    list-style-type: upper-alpha;
    font-size: 25px;
    height: 35vh;
    margin: 25px 5px;
    padding-top: 15px;
    line-height: 1.4;
    border-style: inset;
    border-radius: 5px;
}

#unordered_list_id {
    list-style-type: lower-roman;
    background: #be4141;
    font-size: 18px;
    height: 30vh;
    margin: 20px 0;
    padding-top: 10px;
    line-height: 1.8;
    border-style: none;
    border-radius: 8px;
}

.ulist_item {
    color: #2e05a0;
    font-weight: 600;
}

#ulist_item1 {
    color: #420238;
}

#ulist_item2 {
    color: #1d3601;
}


#ulist_item3 {
    color: rgb(11, 155, 212);
}


#ulist_item4 {
    color: #4cac0d;
}


#ulist_item5 {
    color: rgb(105, 14, 223);
}

