.ordered_list {
    list-style-type: lower-alpha;
    background: ;
}

#ordered_list {
    list-style-type: upper-alpha;
}

.olist_item {

}

#olist_item

.unordered_list

#unordered_list

.ulist_item

#ulist_item